body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#product-form {
    margin: 20px 0;
}

.product {
    margin-bottom: 20px;
}

.product h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.example-section {
    background-color: #b0c4de; /* Stronger color */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.instructions-section {
    background-color: #f8f9fa; /* Light gray color */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product .input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product .input-container > div {
    width: 48%;
}

.product .input-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container input {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

input.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Estilos responsivos para dispositivos móviles */
@media screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    input[type="text"], input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    h1, h2 {
        font-size: 18px;
    }

    label {
        font-size: 14px;
    }

    .checkbox-container {
        flex-direction: row;
        align-items: center;
    }
}
